<?php
/**
 * Default Page View
 */

$page_data = [
    'title' => get_the_title(),
    'content' => get_the_content()
];

skin_layout('default', [
    'content' => skin_view('page-content', $page_data)
]);
?>