/* 
Theme Name: {{THEME_NAME}}
Description: Modern WordPress theme powered by WP-Skin and Tailwind CSS
Version: 1.0.0
Author: WP-Skin
*/

/* Compiled CSS from resources/src/scss/style.scss will be output here */